<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIST</title>
    <style>
        table {
            border: 1px solid black;
            width: 600px;
            margin: 0 auto;
        }

        tr, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>가격</th>
            <th>재고</th>
        </tr>
    </table>
    <button id="more">더보기</button>
</body>
<script>
    const moreButton = document.getElementById("more");
    let page = 1;
    const getList = (callback) => {
        fetch(`http://127.0.0.1:8000/product/${page}`)
        .then((response) => response.json())
        .then((products) => {
            if (callback) {
                callback(products);
            }
        });
    }

    const showList = (product_info) => {
        if (!product_info.hasNext){
            moreButton.style.display = "none";
        }
        let products = product_info.products;
        const table = document.querySelector("table");
        products.forEach((product) => {
            table.innerHTML += `
                <tr>
                    <td>${product.id}</td>
                    <td><a href="/product/?id=${product.id}">${product.product_name}</a></td>
                    <td>${product.product_price}</td>
                    <td>${product.product_stock}</td>
                </tr>
            `
        })
    }

    getList(showList)

    moreButton.addEventListener("click", (e) => {
        page++;
        getList(showList);
    })


</script>
</html>